@model BrandAnalytics.Web.Models.StudyModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>StudyModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mark)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Running)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Running)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
