@using BrandAnalytics.Data.Enums

@model IEnumerable<BrandAnalytics.Web.Models.StudyModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Running)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Running)
        </td>
        <td>
            @if (item.State == StudyState.Waiting.ToString())
            { 
                <span>@Html.ActionLink("Submit", "Submit", new { id=item.Id }) |</span> 
            }
            @if (item.State == StudyState.Collected.ToString())
            { 
                <span>@Html.ActionLink("Repeat", "Repeat", new { id=item.Id }) |</span> 
            }
            @if (item.State == StudyState.Collected.ToString())
            { 
                <span>@Html.ActionLink("Finalize", "Finalize", new { id=item.Id }) |</span> 
            }
        </td>
    </tr>
}

</table>
